button.ui-button {
	margin-right: 1rem;
	align-items: center;
}


body {
	margin: 10px;
	background-color: #000000;
}	


.container {
	margin: 0;
}

.row {
	background-color: #FFFAFA;
}

#colMenu {
	background-color: #f1f1f1;
}

#rowHeader {
	background-color: #191970;
}

#rowFooter {
	background-color: #0000FF;
}

#TituloSistema {
	color: #ffffff;
	text-align: center;
	margin: 5px;
	font-size: 2em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#badgeCol {
	color: #FFFF00;
}

#tituloCol {
	align-items: center;
}

#fundoconteudo {
	background-color: #ffffff;
}

#cardConteudo{
	background-color: #D3D3D3;
	color: #000000;
	font-size: 1.2em;
	font-weight: bold;	
	
}

#conteudo{
	padding: 20px;

}

#rowFooter {
	color: #FFFF00;
}


#divTabela{
	margin-top: 20px;
}





.order-table{   
	border-collapse:collapse;
	
	
}

.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border:1px dotted #000000;
	padding:16px;
	
	
}

.order-table-odd-row{	
	background-color: #BBBBBB;
	border: 1px dotted #000000;
	color: #191970;
	
	
}

.order-table-even-row{	
	background-color: #ffffff;
	border: 1px dotted #000000;
	color: #191970;
	
	
}

.c1,.c2,.c3,.c4
{
	border: 1px dotted #000000;
}
			
			
			